{% load static i18n %}
<header class="site-header p-3 mb-3">
    <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-decoration-none">
                <svg class="site-logo" alt="in-kind enterprise logo">
                    <use xlink:href="#teddy-logo"></use>
                </svg>
                in-kind
            </a>

            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            </ul>

            <form action="/i18n/setlang/" method="post" class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3">
                {% csrf_token %}
                <input name="next" type="hidden" value="{{ request.get_full_path }}">
                {% get_current_language as LANGUAGE_CODE %}
                <select name="language" onchange="this.form.submit()" class="form-select">
                    {% get_available_languages as LANGUAGES %}
                    {% for lang_code, lang_name in LANGUAGES %}
                        <option value="{{ lang_code }}" {% if lang_code == LANGUAGE_CODE %}selected{% endif %}>
                            {{ lang_name }}
                        </option>
                    {% endfor %}
                </select>
            </form>
        </div>
    </div>
</header>
